/* Quick Backgrounds */
.bg-primary {
  background-color: $primary-color;
}

.bg-dark-primary {
  background-color: $primary-darken-color;
}
.bg-background {
  background-color: $background-color;
}

.bg-second {
  background-color: $second-color;
}
