$calibre-regular: ("Calibre", 400, "Calibre-Regular", "woff", "woff2");
$calibre-medium: ("Calibre", 500, "Calibre-Medium", "woff", "woff2");
$calibre-semibold: ("Calibre", 600, "Calibre-Semibold", "woff", "woff2");

$sfmono-regular: ("SF Mono", 400, "SFMono-Regular", "woff", "woff2");
$sfmono-semibold: ("SF Mono", 600, "SFMono-Semibold", "woff", "woff2");

@mixin font-face($name, $weight, $font-family, $file-type) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$name}-#{$font-family}.#{$file-type}") format("#{$file-type}"),
      url("#{$name}-#{$font-family}2.#{$file-type}") format("#{$file-type}");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@each $font
  in (
    $calibre-regular,
    $calibre-medium,
    $calibre-semibold,
    $sfmono-regular,
    $sfmono-semibold
  )
{
  $name: nth($font, 1);
  $weight: nth($font, 2);
  $font-family: nth($font, 3);
  $file-type: nth($font, 4);

  @include font-face($name, $weight, $font-family, $file-type);
}

@font-face {
  font-family: "Calibre";
  font-style: italic;
  font-weight: 400;
  src: url("Calibre-RegularItalic.woff") format("woff"),
    url("Calibre-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Calibre";
  font-style: italic;
  font-weight: 500;
  src: url("Calibre-MediumItalic.woff") format("woff"),
    url("Calibre-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Calibre";
  font-style: italic;
  font-weight: 600;
  src: url("Calibre-SemiboldItalic.woff") format("woff"),
    url("Calibre-SemiboldItalic.woff2") format("woff2");
}
