$primary-lighten-color: #00c5d3;
$primary-color: #009da8;
$primary-darken-color: #008791;

$dark-color: #003f46;

$icon-color: #009ea9;
$second-color: #64ffda;
$background-color: #092124;
$background-lighten-color: #0b2629;

$hover-color: #00839517;

// Fluid Typography Settings :

$text-smallest: 7px;
$text-largest: 14px;

$screen-xxs: 214px;
$screen-xs: 375px;
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
