$primary-color: #00b5c2;
$primary-darken-color: #00767e;
$icon-color: #009ea9;
$second-color: #64ffda;
$background-color: #092124;

// Fluid Typography Settings :

$text-smallest: 7px;
$text-largest: 14px;

$screen-xxs: 214px;
$screen-xs: 375px;
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
