@import "../../styles/scss/patrials/variables";
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0 0 30px 4px;
    color: $second-color;
    font-family: "SF Mono", monospace;
    font-size: 16px;
    //   font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
  }
  h2 {
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
  }
  h3 {
    margin-top: 5px;
    color: $primary-darken-color;
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
  }
  p {
    margin: 20px 0 0;
    max-width: 540px;
    font-size: 1.25rem;
  }
  button {
    margin-top: 50px;
  }
}
