@import "/src/styles/scss/patrials/_variables.scss";

#experience {
  margin-bottom: 10rem;

  .container {
    // padding: 0px 8rem;
    max-width: 800px;
    height: 100%;

    margin: auto;
  }
}

.sliders {
  display: flex;
  gap: 20px;
  width: 100%;
  position: relative; // Ensure the parent has a position other than 'static'
  height: auto;
  max-width: 900px;

  .details {
    .job {
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      opacity: 0;

      &.active {
        opacity: 1;
        transition-delay: 0.1s;
      }
    }
  }

  .job-header {
    margin-bottom: 10px;
  }

  .date {
    font-size: 0.9rem;
  }

  .job-title {
    font-size: 1.2rem;

    font-weight: bold;
    color: $primary-lighten-color;
  }

  .company-name {
    color: $second-color;
    font-size: 1.1rem;
  }

  .responsibilities {
    list-style-type: none;

    margin-top: 25px;

    li.resp {
      padding-left: 30px;
      margin-bottom: 10px;
      position: relative;
      font-size: 0.9rem;
      line-height: 1.5rem;

      &::before {
        content: "▹";
        position: absolute;

        left: 0;
        color: $second-color;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .sliders {
    flex-direction: column;
    height: fit-content;

    .slider-list {
      display: flex;

      flex-direction: row;
      text-align: center;

      align-items: center;
      width: 100%;
      height: fit-content;
      margin-bottom: 20px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 4px;
      }
    }
    .details {
      padding: 20px;
    }
  }
}
@import "/src/styles/scss/patrials/variables";

.tap-btn {
  display: flex;
  margin-right: 1.4rem;
  padding: 0.9rem;
  white-space: nowrap;

  color: $primary-darken-color;
  font-size: 0.9rem;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: 200;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  border-left: 1.5px solid $dark-color;
  &:hover {
    color: $second-color;
    cursor: pointer;
    background-color: $hover-color;
  }
  &.active {
    color: $second-color;
    border-left: 1px solid $second-color;
    background-color: $hover-color;
  }
}

@media screen and (max-width: 900px) {
  .tap-btn {
    border-left: none;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid $dark-color;
    &:hover {
      border-bottom: 1px solid $second-color;
    }
    &.active {
      border-left: none;
      border-bottom: 1px solid $second-color;
    }
  }
}
#at {
  color: $second-color;
}
