@import "../../styles/scss/patrials/variables";
.socialContainer {
  position: fixed;
  bottom: 0px;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: $primary-color;
  .line {
    background-color: $primary-color;
    width: 1.2px;
    height: 6rem;
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

    gap: 22px;
    .social-item {
      list-style: none;

      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        transform: translateY(-3px);
        color: $second-color;
      }
    }
    a {
      color: inherit;
      padding: 2px;
      svg {
        width: 20px;
      }
    }
  }
}

@media (max-width: $screen-s) {
  .socialContainer {
    display: none;
  }
}
