@import "../../styles/scss/patrials/variables";

.nav-bar {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0px 50px;
  z-index: 99; // add a z-index to ensure the navbar appears above other elements
  button {
    margin: 4px;
  }
  .fade {
    opacity: 0;
    transition: all 500ms ease-in-out;
    transition-delay: 500ms;
    transform: translateY(-100px);
  }

  .fadeDown-active {
    opacity: 1;
    transform: translateY(0px);
  }
}
.toggle-item {
  display: none;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  counter-reset: item 0;

  .nav-link {
    list-style: none;
    padding: 10px;

    a {
      color: $primary-color;
      counter-increment: item 0;
      &:before {
        content: "0" counter(item) ".";
        counter-increment: item;
        margin-right: 5px;
        color: $second-color;
        font-size: 12px;
        text-align: right;
      }
      &:hover {
        color: $second-color;
      }
    }
  }
}

@media (max-width: $screen-m) {
  .toggle-item {
    display: flex;

    .icons {
      cursor: pointer;

      width: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      span {
        background-color: $second-color;
        margin-bottom: 5px;
        height: 2px;
        &:first-child {
          width: 100%;
        }
        &:nth-child(2) {
          width: 70%;
          transition: 0.4s;
        }
        &:last-child {
          width: 50%;
          transition: 0.4s;
        }
      }
      &:hover span:nth-child(2) {
        width: 100%;
      }
      &:hover span:last-child {
        width: 100%;
      }
      div {
        display: inline-block;
        color: inherit;
        padding: 2px;
        font-size: 2.25rem;

        &:hover {
          color: $second-color;
        }
      }
    }
  }

  .nav-bar ol {
    transition: transform 0.25s, opacity 0.5s;

    opacity: 0;
    transform: translateX(100vw);
    display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    gap: 40px;
    top: 0;
    right: 0;

    height: 100vh;
    width: 75%;
    // background-color: rgb(0 0 0 / 50%);
    background-color: rgba(0, 61, 77, 0.343);
    box-shadow: 0 0px 10px 0.5px rgba(0, 77, 97, 0.343);
    backdrop-filter: blur(2px);
    a {
      padding: 15px !important;
    }

    &.active {
      transition: opacity 0.5s;
      // transition: all 0.5s;
      opacity: 1;
      transform: translateX(0rem);
    }
    & .toggle-item {
      width: 100%;
      height: 100px;
      align-items: center;
      padding-right: 50px;
      justify-content: flex-end;
    }
  }
}

// css component to make the effect toglle the same with navbar

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.343);
  backdrop-filter: blur(2px);
}

//
#close {
  padding: 10px;
  width: 46px;
  height: 46px;
  //   transition: background-color 0.25s ease-in-out;
  //   background-color: transparent;
  //   border-radius: 50%;
  //   &:hover {
  //     background-color: rgba(0, 77, 68, 0.553);
  //   }
}

.outer {
  position: relative;
  top: -33%;
  right: 2px;
  margin: auto;
  width: 2.125rem;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: $second-color;
  left: 0;
  transition: all 0.3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.nav-link {
  transition: all 500ms ease-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.fadeDown-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.fadeDown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 500ms ease-in-out;
}
