@import "../../styles/scss/patrials/variables";
.mainHead {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 10px 0px 40px;
  white-space: nowrap;
  font-size: 1.8vh;

  .header {
    position: relative;
    display: inline-block;
  }
  .line {
    display: inline-block;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: $dark-color;
  }
  span {
    font-weight: 200;
    font-size: 2vh;

    margin: 5px 8px 0px 0px;
    color: $second-color;
    font-family: "SF Mono", monospace;
    font-weight: 400;
  }

  @media (max-width: 900px) {
    font-size: 1rem;
    span {
      font-size: 1rem;
    }
  }
}
