@import "/src/styles/scss/patrials/variables";
#projects-section {
  .container {
    max-width: 1000px;
    height: 100%;
    margin: auto;
  }
  margin-bottom: 4rem;
}

@media (max-width: $screen-m) {
  #projects-section {
    margin-bottom: 1rem;
  }
}
